<br><button type="button" class="btn btn-success left_2" data-ng-click="saveUser()">Сохранить</button><br><br>
<form>

    <table class="table">
        <tr>
            <td class="col-md-1">Имя</td>
            <td>
                <div class="form-group col-lg-4">
                    <input type="text" class="form-control" ng-model = "new_user.name" placeholder="Name">
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-1">Фамилия</td>
            <td>
                <div class="form-group col-lg-4">
                    <input type="text" class="form-control" ng-model = "new_user.surname" placeholder="Surname">
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-1">Возраст</td>
            <td>
                <div class="form-group col-lg-4">
                    <input type="text" class="form-control" ng-model = "new_user.age" placeholder="Age">
                </div>
            </td>
        </tr>
    </table>
</form>